.admin-team-players-container {
  padding: 20px;
  margin-bottom: 5rem;
}

.admin-header {
  text-align: center;
  margin-bottom: 20px;
}

.sold-out{
    color: green !important;
    font-size: 20px;
}

.admin-teams-and-players {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.admin-teams-list {
  flex: 1;
  max-width: 200px;
}

.admin-team-card {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s ease;
}

.admin-team-card-selected {
  border: 2px solid #007bff;
}

.admin-team-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.admin-team-name {
  font-weight: bold;
  margin-top: 5px;
}

.admin-team-players-table-container {
  flex: 3;
  position: relative;
}

.admin-print-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-team-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.admin-selected-team-logo {
  width: 40px;
  height: 40px;
}

.admin-selected-team-name {
  font-size: 20px;
  font-weight: bold;
}

.admin-team-players-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-team-players-table th,
.admin-team-players-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.admin-delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

@media print {
  body * {
    visibility: hidden;
  }
  .admin-team-players-table-container, .admin-team-players-table-container * {
    visibility: visible;
  }
  .admin-team-players-table-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
