/* HomeAdmin.css */
.dashboard {
  padding-top: 80px; /* Match the height of the header */
  display: flex; /* Use flexbox for layout */
  height: 100vh; /* Full height for the dashboard */
  overflow: hidden; /* Prevent overflow */
  
}

.content {
  margin-left: 250px; /* Leave space for sidebar on larger screens */
  padding: 20px;
  flex-grow: 1; /* Allow content area to grow */
  transition: margin-left 0.3s ease; /* Smooth transition for margin changes */
  margin-top: 10px;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  /* scroll bar hidden */
  scrollbar-width: none;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .content {
    margin-left: 0; /* Reset margin for small screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .dashboard {
    flex-direction: column; /* Stack elements vertically on small screens */
    padding-top: 120px;
  }
}
