.total-sold-out-players-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.admin-header {
  text-align: center;
  margin-bottom: 20px;
}

.admin-print-button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.table-responsive {
  overflow-x: auto; /* Enables horizontal scrolling */
}

.sold-out-players-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.sold-out-players-table th,
.sold-out-players-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.sold-out-players-table th {
  background-color: #3498db;
  color: white;
}

.status {
  color:  blue;
  font-weight: bold;
}

.admin-send-message-button,
.admin-delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.admin-send-message-button {
  background-color: #28a745;
  color: white;
}

.admin-delete-button {
  background-color: #dc3545;
  color: white;
}

.admin-send-message-button:hover,
.admin-delete-button:hover {
  opacity: 0.8;
}
