
.gallery-page{
    width: 100%;
  height: auto;
  padding-top: 5%;
  background-color: #333;
}
.gallery-section {
  padding: 50px 20px;
  background-color: #333;
  text-align: center;
 
}

.manage_img_size{
  max-width: 500px;
  height: 200px;
}

.gallery-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color:  #f4f4f4;
  font-weight: 700;
}

.gallery-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 15px;
}

.gallery-item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px;
}


.gallery-item:hover img {
  transform: scale(1.1); 
}

.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.show-content {
  position: relative;
  max-width: 50%;
  max-height: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  object-fit: contain;
  animation: scaleUp 0.3s ease-in-out;
}

.close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size:  10px;
  color: red;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #f39c12;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .show-content {
    max-width: 90%;
    max-height: 90%;
  }
  .gallery-page{
  padding-top: 15%;

}
  .gallery-grid {
    /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr 1fr)); */
    grid-template-columns: 1fr 1fr;
    
  }
}
