* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

.header-section {
  /* background-color: #333; */
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1000;
  height: 100px; 
   position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
}

/* Title and logo section */
.title-logo {
  display: flex;
  align-items: center;
  height: 100%; 
}

.title-logo img {
  height: 110px; 
  margin-right: 10px;
  object-fit: contain; 
}

.title-logo h2 {
  font-size: 30px;
  color: #f39c12;
  letter-spacing: 2px;
}

/* Navigation list */
.list-nav {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f39c12;
}

.nav-links button {
  background-color: #f39c12;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links button:hover {
  background-color: #e67e22;
}

/* Toggle button for small devices */
.toggle-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Responsive design for small devices */
@media (max-width: 768px) {
  .toggle-btn {
    display: flex;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
  }

  .list-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    /* background-color:  transparent; */
    width: 200px;
    height: 100vh;
    transform: translateX(100%); 
    transition: transform 0.3s ease;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    z-index: 1000;
  }

  /* Menu active (open) */
  .list-nav.active {
    transform: translateX(0); 
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-left: 20px;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 10px 20px;
    width: 100%;
    display: block;
  }
}

@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }

  .list-nav {
    display: flex;
    position: static;
    height: auto;
    transform: translateX(0);
  }
}
