/* General Page Styling */
.match-page {
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
padding-top: 6rem;
}

.matches-container {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.Upcomeing-heading{
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

/* Match Card Styling */
.match-card {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  align-items: center;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(174, 172, 172, 0.1);
  transition: transform 0.3s;
  width: 90%;
  margin-bottom: 15px;
}

.match-card:hover {
  transform: scale(1.02);
}

.vs {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

/* Team Section */
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.team p {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

/* Match Info */
.match-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.match-info p {
  color: #000;
  margin: 0;
}

/* Loader */
.loader {
  height: auto;
  padding: 100px 50px;
  background-color: gray;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .match-page {
    padding-top: 22%;
  }

  .match-card {
    width: 450px;
    padding: 15px;
  }

  .team img {
    width: 80px;
    height: 80px;
  }

  .team p {
    font-size: 1rem;
  }

  .vs {
    font-size: 1.2rem;
  }

}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }

  .team p {
    font-size: 0.9rem;
  }

  .vs {
    font-size: 1rem;
  }

  .match-info {
    font-size: 0.9rem;
  }
}
