.match-page {
  margin-top: 5%;
  background-color: #333;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches-container {
  padding: 20px;
  display: grid;
  justify-items: center;
  width: 100%;
}

.Upcomeing-heading {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.match-card {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 5px;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(174, 172, 172, 0.1);
  transition: transform 0.3s;
  width: 80%;
  margin-bottom: 10px;
}

.match-card:hover {
  transform: scale(1.02);
}
.vs{
  color: #000;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.team p {
  font-size: 1.2rem;
  color: #333;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  color: #e67e22;
  text-align: center;
}

.match-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.loader{
  height: 50%;
  padding: 100px 50px ; 
  background-color: gray;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;

}
 
@media (max-width: 768px) {
  
.match-info {
 display: flex;
 flex-direction: column;
  
}
.match-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  align-items: center;
  padding: 10px;
}
  h1 {
    font-size: 1.5rem;
  }
  .match-page {
   margin-top: 20%;
}

  .match-card {
    width: 100%;
    gap: 5px;
    padding: 10px;
  }

  .team img {
    width: 50px;
    height: 50px;
  }

  .team p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 20px;
  }

  .team p {
    font-size: 0.9rem;
  }
}
