/* General Styling for the Registration Section */
/* Registration.css */



.register-page{
  padding-top: 7%;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.kb-btn{
  padding: .5rem;
  background-color: orange;
  text-decoration: none;
  color: white;
}

.video-link{
  color: rgb(78, 78, 223);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .5rem;
}
.error {
  color: red;
  font-size: 12px;
}

.registration-container {
  width: 80%;
  padding: 10px;
  color: #f4f4f4;
  border-radius: 10px;
}

.important-notes{
  margin-bottom: 1rem;
}

.important-notes p{
  margin: .5rem;
}


.scan-img{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.registration-section{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333;
   
}

.registration-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #f39c12;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #e0e0e0;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #444;
  color: white;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form-group input[type="file"] {
  background-color: #555;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #f39c12;
}

.submit-btn {
  background-color: #f39c12;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #e67e22;
}

/* Responsive Design */
@media (max-width: 768px) {
  .registration-container {
    padding-top: 100px;
  }

  .registration-container {
  width: 95%;
}

  .registration-container h2 {
    font-size: 28px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 14px;
    padding: 10px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  
  .registration-container h2 {
    font-size: 24px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 12px;
  }

  .submit-btn {
    font-size: 14px;
  }
}
