
/* ShowUpdate Component */
.update-page{
  padding-top: 80px;
   height: auto;
   margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-update-container {
  /* background-color: #202020; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(248, 242, 242, 0.5);
  margin: 0 auto;
    background-color: #333;
  color: #f9f9f9;
  height: 80vh;
    width: 80%;
}

.show-update-container h2 {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.match-details {
  padding: 12px;
  background-color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #e0e0e0;
  font-size: 18px;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .insert-update-container, .show-update-container {
    padding: 15px;
  }
  .show-update-container {
  padding: 5px;
  border-radius: 8px;
  height: 90vh;
    width: 95%;
}
.show-update-container {
  margin-top: 80px;
}

  h2 {
    font-size: 20px;
  }

  .match-input,
  .add-button,
  .delete-button {
    font-size: 16px;
  }
}
